<!DOCTYPE html>
<html>
  <head>
    <title>Prueba App</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
  	<%= render 'layouts/devise_alert' %>
    <%= yield %>
  </body>
</html>
